.main-chat
  .main-chat__group-info
    .group-desc
      .group-desc__group-name
        test
      .group-desc__user-name
        Menber:masa
    .edit
      = link_to "#", class: "edit__btn" do
        Edit
  .main-chat__message-list
  .main-chat__message-form