.main-chat
  .main-chat__group-info
    .group-desc
      .group-desc__group-name
        test
      .group-desc__user-name
        Menber:masa
    .edit
      = link_to "#", class: "edit__btn" do
        Edit
  .main-chat__message-list
    .user
      .user__name
        masa
      .user__time
        2020/11/29 Sun 17:43:01
    .messaage
      おはよう
    .user
      .user__name
        masa
      .user__time
        2020/11/29 Sun 17:43:01
    .messaage
      おはよう
  .main-chat__message-form